<title>Meu currículo</title>
<header>
    
  <img src="assets/Photo.jpeg" alt="Foto de Perfil">
  <div class="head">
      <h1>Rafael Vieira Maximo</h1>
      
      <p>Contato: rafavmaximo&commat;gmail.com | Celular: (11) 95279-6269</p>
      <p class="Git">Sobre mim: <a  href="https://github.com/rafaelvieiramaximo" target="blank">Meu GitHub | <a href="https://www.linkedin.com/in/rafael-vieira-maximo1/">Linkedin</a></a> </p>
  </div> 

</header>

<section>
    <h2>Formação acadêmica</h2>

    <div>
        <ul>
          <li>Ensino Médio - Serviço Social da Indústria, SESI-031, Itu, São Paulo. Conclusão:
      dezembro de 2020.</li>
          <li>Ensino Técnico de Eletromecânica - Serviço Nacional de Aprendizagem Industrial,
            SENAI Ítalo Bologna, Itu, São Paulo. Conclusão: dezembro de 2020.</li>
          <li>Graduação em Análise e Desenvolvimento de Sistemas - Fatec ITU Dom Amaury
            Castanho, Itu, São Paulo. Conclusão: dezembro de 2025. Cursando</li>
        </ul>
  </div>
  <hr>
    <h2>Objetivo Profissional</h2>
    <p>Estágio em TI, Área de Informática, Suporte Técnico, Desenvolvedor.</p>
<hr>
    <h2>Formação Acadêmica</h2>
    <ul>
      <li>Ensino Médio - Serviço Social da Indústria, SESI-031, Itu, São Paulo. Conclusão: dezembro de 2020.</li>
      <li>Ensino Técnico de Eletromecânica - Serviço Nacional de Aprendizagem Industrial, SENAI Ítalo Bologna, Itu, São Paulo. Conclusão: dezembro de 2020.</li>
      <li>Ensino Superior - Centro Universitário Nossa Senhora do Patrocínio, CEUNSP, Salto/SP. Período: 2021/2024.</li>
    </ul>
<hr>
    <h2>Cursos</h2>
    <ul>
      <li>BootCamp Dev Jr - Java & Angular / 2023.</li>
      <li>Cyber Leader - Office 365.</li>
      <li>Curso de Excel Avançado.</li>
      <li>Intensivão Power BI - Hastag / 2023.</li>
      <li>Curso HTML, CSS, JavaScript</li>
    </ul>
<hr>
    <h2>Idiomas</h2>
    <ul>
      <li>Inglês Intermediário - CNA Inglês Definitivo, Itu/SP. Período: 2014/2017.</li>
      <li>Inglês Avançado - Skill Idiomas, Itu/SP. Período: 2017/2020.</li>
      <li>Espanhol Básico - Sesi Ead, Itu/SP. Período: Janeiro a Dezembro /2018.</li>
    </ul>
<hr>
    <h2>*Atividades Extracurriculares*</h2>
    <ul>
      <li>Feira de Desenvolvimento Fatec - Itu / 2023</li>
      <li>BootCamp - Udemy / 2023 (JavaScript, React, TypeScript)</li>
    </ul>

</section>

<footer>
<p>© 2024 Meu Currículo</p>
</footer>